/* Intro */

	#intro {

		@media only screen and (max-width: 735px) {
			.bg-video {
				display: none;
			}
		}

		.bg-video {
			width: 100%;
			height: 100%;
			position: absolute;
		}

		.bg-blueprint {
			width: 100%;
			height: 100%;
			position: fixed;
		}

		.inner {
			& > * {
				text-shadow: black 0px 0px 18px;

				a {
					text-shadow: black 0px 0px 18px;
				}
			}
		}

		p {
			color: rgb(211, 211, 211);
		}
		
		.bg-video-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

			p {
				font-size: 1.25em;

				@include breakpoint('<=medium') {
					br {
					display: none;
				}
			}

			@include breakpoint('<=small') {
				font-size: 1em;
			}
		}

		@include breakpoint('<=large') {
			background-attachment: scroll;
		}
	}